.jumbotron {
  background: #662c00;
  color: white; }
  .jumbotron .btn-primary {
    background: #c78f00;
    border-color: #c16900; }
    .jumbotron .btn-primary:hover {
      background: #4f3300; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
  .main {
     background-color: #545454;
     color: white;
   }
body {
  background-color: #191919;
  color: white;
}
input {
  color: black;
}
label {
  color: white;
}

