<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<body>
<div class="container">
  <div class="jumbotron text-center">
    <div th:if="${#httpServletRequest.remoteUser}">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    </div>

    <i class="fab fa-wolf-pack-battalion fa-10x text-center text-warning"></i>
    <h1>wow-api</h1>
    <p>This is a Java application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how spring boot works...</p>
      <div th:unless="${#httpServletRequest.remoteUser}">
        <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/login'">Login</button>
        <button type="button" class="btn btn-lg btn-warning" onclick="location.href='/user/new'">Register</button>
      </div>
      <div th:if="${#httpServletRequest.remoteUser}">
        <a type="button" class="btn btn-lg btn-primary" href="/character/new"> Link a character</a>
        <br><br>
        <span>OR</span>
        <br><br>
        <form class="form text-center" action="/search" method="get">
          <input type="text" class="form-control-lg col-md-3 text-center" name="username" placeholder="username">
          <br><br>
          <button type="submit" class="btn btn-lg btn-info">Find a friend</button>
        </form>

      </div>
  </div>
</div>
</body>
</html>
