<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<head>
</head>
<body>
<div class="container">
<div class="jumbotron text-center">
    <div class="text-center alert alert-warning" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div class="text-center alert alert-warning"  th:if="${param.logout}">
        You have been logged out.
    </div>
    <h1>Login</h1>
    <form class="form-group text-center" th:action="@{/login}" method="post">
        <input class="form-control-lg col-md-4 text-center" placeholder="username" type="text" name="username"/>
        <br><br>
        <input class="form-control-lg col-md-4 text-center" placeholder="password" type="password" name="password"/>
        <br><br>
        <button type="submit" class="btn btn-lg btn-primary">Login</button>
        <button type="button" class="btn btn-lg btn-warning" onclick="location.href='/user/new'">Register</button>
    </form>
</div>
</div>
</body>
</html>