<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">
<body>
<div class="container bg-secondary">
<h1 class="text-light">Rooms</h1>
<table class="table table-lg table-striped text-light" >
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">roomname</th>
        <th scope="col">creator</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room: ${rooms}">
        <td th:text="${room.id}" />
        <td th:text="${room.roomName}" />
        <td th:text="${room.creator.getUsername()}" />
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
