<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">
<body>
<div class="container bg-secondary">
<h1 class="text-light">Users</h1>
<table class="table table-lg table-striped text-light" >
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">username</th>
        <th scope="col">email</th>
        <th scope="col">firstname</th>
        <th scope="col">lastname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}" />
        <td th:text="${user.username}" />
        <td th:text="${user.email}" />
        <td th:text="${user.firstName}" />
        <td th:text="${user.lastName}" />
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
