<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">
<body>
<div class="container">
    <div th:if="${param.notice}">
        <div class="text-center alert alert-warning"  th:if="${param.notice[0] == 'failure'}">
            That user already exists.
        </div>
    </div>
    <div class="jumbotron text-center">
        <h1>Registration</h1>
        <form class="form-group text-center" th:action="@{/user/create}" th:object="${user}" method="post">
            <input class="form-control-lg col-md-4 text-center" placeholder="username" type="text" th:field="*{username}"/>
            <br><br>
            <input class="form-control-lg col-md-4 text-center" placeholder="contact" type="text" th:field="*{contact}"/>
            <br><br>
            <input class="form-control-lg col-md-4 text-center" placeholder="firstname" type="text" th:field="*{firstname}"/>
            <br><br>
            <input class="form-control-lg col-md-4 text-center" placeholder="lastname" type="text" th:field="*{lastname}"/>
            <br><br>
            <input class="form-control-lg col-md-4 text-center" placeholder="password" type="password" name="password"/>
            <br><br>
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>