<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">
<body>
<div class="container">
    <div class="jumbotron text-center">
        <div th:unless="${#httpServletRequest.remoteUser == user.username}">
            <h1>What do you think you are doing?</h1>
        </div>

        <div class="text-center" th:if="${#httpServletRequest.remoteUser == user.username}">
            <h1>Edit User</h1>
            <form class="form-group text-center"
                  th:action="@{/user/{id}/update (id=${user.id})}"
                  th:object="${user}"
                  method="post">
                <input class="form-control-lg col-md-4 text-center" placeholder="contact" type="text" th:field="*{contact}"/>
                <br><br>
                <input class="form-control-lg col-md-4 text-center" placeholder="firstname" type="text" th:field="*{firstname}"/>
                <br><br>
                <input class="form-control-lg col-md-4 text-center" placeholder="lastname" type="text" th:field="*{lastname}"/>
                <br><br>
                <input class="form-control-lg col-md-4 text-center" placeholder="password" type="password" th:field="*{password}"/>
                <br><br>
                <input class="btn-lg btn-info mb-2" type="submit" value="submit" />
            </form>
        </div>


    </div>
</div>
</body>
</html>